<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; min-height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/authors" routerLinkActive="active" class="nav-link text-white">
          Author's
        </a>
      </li>
      <li>
        <a routerLink="/fevorite-authors" routerLinkActive="active" class="nav-link text-white">
          Fevorite Author's
        </a>
      </li>
    </ul>
    <hr>
  </div>