.add-fevorite {
    cursor: pointer;
    color: #019267;
}

.add-fevorite:hover {
    color: #00C897;
}
.remove-fevorite {
    cursor: pointer;
    color: #D83A56;
}

.remove-fevorite:hover {
    color: #FF616D;
}
